@model IEnumerable<Project_MVC_CORE_EF.Models.Camera>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CameraDisponibile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCamera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCamera)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CostoCamera) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CameraDisponibile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCamera.NomeTipoCamera)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCamera">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCamera">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCamera">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
