@model IEnumerable<Project_MVC_CORE_EF.Models.Prenotazione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInizioPrenotazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinePrenotazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccontoPrenotazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pensione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInizioPrenotazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinePrenotazione)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AccontoPrenotazione) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camera.IdCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pensione.TipoPensione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrenotazione">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrenotazione">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrenotazione">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
