@model IEnumerable<Project_MVC_CORE_EF.Models.Pensione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoPensione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoPensione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPensione)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CostoPensione) €
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPensione">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPensione">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPensione">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
